body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    font-family: "Montserrat", sans-serif;
  }
  
  h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  .container {
    margin: 0px auto;
    width: 1720px;
  }
  
  /* header */
  header {
    padding: 41px 0px;
    border-bottom: 2px solid #779611;
  }
  .header-container {
    display: flex;
    align-items: center;
    gap: 120px;
  }
  
  .header-menu {
    display: flex;
    gap: 80px;
  }
  .header-link {
    color: #707070;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}
